*{
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

:root{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: left;
}

#viagem img {
  display: block;
  margin: 0 auto;
  border-radius: 28px;
  height: 660px;
  width: 1120px;
  object-fit: cover;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 28px;
  height: 552;
  width: 1120px;
  object-fit: cover;
}

h4 {
  color: #E1624F;
  font-size: 16px;
  font-weight: bold;
}

h1{
  color: #1B1B1B;
  font-size: 36px;
}

#about {
  font-weight: bold;
}

#historia {
  font-weight: bold;
  color: #0C51A7;
}

.subtitle{
  font-size: 16px;
  line-height: 22px;
  font-style: italic; 
  text-align: center;
  color: #333333;
  margin-top: 24px;
  margin-bottom: 40px;
}

.divider {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  margin: 40px 0;
  margin-bottom: 40px;
}
.divider + h4 {
  margin-top: 24px;
}

.spaced{
  margin-bottom: 64px;
}

#Beaomeo {
  margin-top: 48px;
}

#Yongdusan {
  margin-top: 48px;
  margin-bottom: 48px;
}

.text-end{
  text-align: center;
}

ul {
  list-style-type: none;
  position: relative;
}

li {
  margin-bottom: 1px;
  font-weight: bold;
}

li::before {
  content: '•'; 
  position: absolute;
  left: 10;
}

.casais {
  color: #591B98;
}

.familias {
  color: #E5245E;
}

.orcamento {
  color: #E95E10; 
}

footer{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 48px;
}

footer img{
  width: 16px;
  height: 16px;
  margin: 0 -2px;
  position: relative;
  top: -8px;
  
}
